/* Next image */
@keyframes switchNextCircle3 {
    0% {
        scale: 1;
    }
    50% {
        scale: 2;
    }
    100% {
        scale: 1;
    }
}
@keyframes switchNextCircle2 {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.5;
    }
    100% {
        scale: 1;
    }
}
@keyframes switchNextCircle1 {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.25;
    }
    100% {
        scale: 1;
    }
}

/* Back image */
@keyframes switchBackCircle3 {
    0% {
        scale: 1;
    }
    50% {
        scale: 2;
    }
    100% {
        scale: 1;
    }
}
@keyframes switchBackCircle2 {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.5;
    }
    100% {
        scale: 1;
    }
}
@keyframes switchBackCircle1 {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.25;
    }
    100% {
        scale: 1;
    }
}

/* Animation class */
/* Next */
.hero .circles-container .circles-subcontainer.next .circle-3::before {
    animation: switchNext 1500ms ease-in-out 250ms forwards, switchNextCircle3 1500ms ease-in-out 250ms forwards;
}
.hero .circles-container .circles-subcontainer.next .circle-2::before {
    animation: switchNext 1500ms ease-in-out 125ms forwards, switchNextCircle2 1500ms ease-in-out 125ms forwards;
}
.hero .circles-container .circles-subcontainer.next .circle-1::before {
    animation: switchNext 1500ms ease-in-out 0s forwards, switchNextCircle1 1500ms ease-in-out 0s forwards;
}

/* Back */
.hero .circles-container .circles-subcontainer.back .circle-3::before {
    animation: switchBack 1500ms ease-in-out 250ms forwards, switchBackCircle3 1500ms ease-in-out 250ms forwards;
}
.hero .circles-container .circles-subcontainer.back .circle-2::before {
    animation: switchBack 1500ms ease-in-out 125ms forwards, switchBackCircle2 1500ms ease-in-out 125ms forwards;
}
.hero .circles-container .circles-subcontainer.back .circle-1::before {
    animation: switchBack 1500ms ease-in-out 0s forwards, switchBackCircle1 1500ms ease-in-out 0s forwards;
}
