.hero .images-indicator {
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero .images-indicator .indicator {
    position: relative;
    border-radius: 5px;
    width: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    transition: height 1700ms ease-in-out;
}

.hero .images-indicator .indicator.active-next {
    height: 200%;
}

.hero .images-indicator .indicator.active-back {
    height: 200%;
}

.hero .images-indicator .indicator::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: scaleY(0);
    background-color: white;
    border-radius: 5px;
    transition: transform 1700ms ease-in-out;
}

.hero .images-indicator .indicator.active-next::after {
    transform-origin: top;
    transform: scaleY(1);
}
.hero .images-indicator .indicator.inactive-next::after {
    transform-origin: bottom;
    transform: scaleY(0);
}

.hero .images-indicator .indicator.active-back::after {
    transform-origin: bottom;
    transform: scaleY(1);
}
.hero .images-indicator .indicator.inactive-back::after {
    transform-origin: top;
    transform: scaleY(0);
}
