@font-face {
    font-family: KrylonFont;
    src: url("../fonts/Krylon-Regular.otf");
}

@font-face {
    font-family: CambriaFont;
    src: url("../fonts/cambria.ttc");
}

* {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: black;
    display: grid;
}
